<?xml version="1.0"?>

<launch>
  
  <arg name="use_camera_control" default="true" />
  <arg name="world_name" default="$(find dbw_mkz_gazebo)/worlds/empty_world.world" />
  <arg name="sim_param_file" default="$(find dbw_mkz_gazebo)/yaml/default_sim_params.yaml" />
  <arg name="urdf_file" default="$(find dbw_mkz_gazebo)/urdf/no_vlp_mkz.urdf.xacro" />

  <include file="$(find dbw_mkz_gazebo)/launch/gazebo_world.launch" >
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="use_camera_control" value="$(arg use_camera_control)" />
  </include>
  
  <node pkg="dbw_mkz_gazebo" type="mkz_spawner" name="mkz_spawner" output="screen" >
    <param name="sim_param_file" value="$(arg sim_param_file)" />
    <param name="urdf_file" value="$(arg urdf_file)" />
  </node>
  <!--  <param name="robot_description" command="$(find xacro)/xacro inorder '$(find velodyne_description)/urdf/example.urdf.xacro'" /> 
	<node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -param robot_description -model example"/> 
-->


 

</launch>
